.skills-terminal {
  font-family: "Ubuntu Mono", monospace;
  margin-top: $mp-lg;

  &__container {
    border: 2px solid $color-gray;
    border-radius: 3px;
    box-shadow: 0 0.5rem 1rem rgba($color-black, 0.3);
    max-width: 700px;
    width: 100%;
    min-height: 700px;
    height: auto !important;
    height: 700px;
    margin-left: auto;
    margin-right: auto;
  }

  &__header {
    background-color: $color-gray;
    height: 15px;
    position: relative;
  }

  &__header-exit-icon {
    cursor: pointer;
    position: absolute;
    top: -2px;
    right: 2px;
    color: $color-off-white;
  }

  &__body {
    background-color: black;
    padding: 3rem;
    max-width: 700px;
    width: 100%;
    min-height: 700px;
    height: auto !important;
    height: 700px;
  }

  &__info-group {
    margin-top: $mp-md;
    margin-bottom: $mp-md;

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__input {
    color: $color-white;
  }

  &__output {
    margin-top: 1rem;
    color: $color-orange;
  }

  &__output-boolean {
    color: #9b59b6;
  }

  &__caret {
    border-left: 5px solid $color-white;
    animation: blink-caret-terminal 0.8s step-end infinite;
  }

  @keyframes blink-caret-terminal {
    from,
    to {
      border-color: transparent;
    }
    50% {
      border-color: $color-white;
    }
  }
}
