// Color
$color-light-orange: #ff6a07;
$color-orange: #d35400;
$color-dark-orange: #a04000;
$color-light-blue: #417898;
$color-blue: #325c74;
$color-dark-blue: #234050;
$color-light-gray: #555;
$color-gray: #333;
$color-dark-gray: #111;
$color-off-white: #f7f7f7;
$color-white: #fff;
$color-black: #000;

$background-color: #colorWhite;

// Typography
$default-font-size: 1.6rem;

// Container Spacing
$cmp-md: 8rem;
$cmp-sm: 6rem;

// Spacing
$mp-lg: 4rem;
$mp-md: 2rem;
$mp-sm: 1rem;

// Grid
$gutter-vertical: 8rem;
$gutter-vertical-sm: 6rem;
$gutter-horizontal: 6rem;
$gutter-horizontal-sm: 2rem;
