.showcase-card {
  background-color: $color-white;
  box-shadow: 0 0.5rem 1rem rgba($color-black, 0.3);
  margin: 2rem auto;
  padding: $mp-lg;
  text-align: center;

  &--list {
    text-align: left;
    padding: 0;
  }

  & + &,
  & + &--list,
  &--list + &--list {
    margin-top: 6rem;
  }

  @media screen and (max-width: 768px) {
    text-align: left;
  }

  &__title {
    font-size: 2rem;
    font-weight: 700;

    @media screen and (max-width: 768px) {
      margin-bottom: $mp-lg;
    }

    &--padding {
      padding: 2rem 4rem;

      @media screen and (max-width: 768px) {
        margin-bottom: 0;
      }
    }
  }

  &__image-container {
    height: 300px;
    width: 100%;
    margin: 3rem auto;
    text-align: center;

    @media screen and (max-width: 768px) {
      display: none;
    }

    & > img {
      height: 100%;
      object-fit: cover;
    }
  }

  &__info {
    margin: $mp-lg auto;
    font-size: 1.8rem;
    max-width: 500px;
    text-align: left;
  }

  &__tags {
    list-style: none;
    padding: 0;

    li {
      display: inline-block;
      padding: $mp-sm;
      border: 2px solid $color-orange;
      margin: $mp-sm auto;

      &:not(:first-child) {
        margin-left: $mp-md;
      }

      @media screen and (max-width: 600px) {
        display: block;
        text-align: center;
        width: 50%;

        &:not(:first-child) {
          margin-left: auto;
        }
      }

      @media screen and (max-width: 400px) {
        width: 100%;
      }
    }
  }

  &__links {
    list-style: none;
    padding: 0;
    margin-top: $mp-lg;

    li {
      display: inline-block;

      @media screen and (max-width: 600px) {
        display: block;
        margin: $mp-lg auto;
        text-align: center;
      }

      &:last-child {
        margin-left: $mp-lg;

        @media screen and (max-width: 600px) {
          margin-left: auto;
          margin-bottom: 0;
        }
      }
    }
  }

  &__list {
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;

    &-item {
      display: block;
      padding: 2rem 4rem;
      background-image: linear-gradient($color-white, $color-white);
      transform: translateY(0);
      transition: all 0.3s ease;

      &:not(:last-child) {
        border-bottom: 1px solid #dadada;
      }

      a {
        transition: color 0.3s ease;
        color: $color-gray;
      }

      &:hover,
      &:focus {
        transform: translateY(-0.3rem);
        border-color: transparent;
        box-shadow: 0 0.1rem 0.6rem rgba($color-black, 0.5);
        background-image: linear-gradient($color-blue, $color-dark-blue);

        .project-work-title,
        a {
          color: white;
        }
      }
    }

    &-link {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;

      @media screen and (max-width: 500px) {
        flex-direction: column;
        align-items: flex-start;
      }
    }
  }

  .project-work-title {
    font-size: 1.8rem;
    color: $color-blue;
    transition: color 0.3s ease;
    width: 100%;
    margin-bottom: 1rem;
  }

  .project-work-tags {
    flex-grow: 1;
  }
}
