body {
  color: $color-gray;
  font-family: "Ubuntu", sans-serif;
  font-size: $default-font-size;
  font-weight: 400;
  line-height: 1.2;
  text-rendering: optimizeLegibility;
}

.header {
  font-size: 2.4rem;
  text-align: center;

  &--default {
    &::after {
      content: "";
      border: 3px solid $color-blue;
      display: block;
      margin: 0 auto;
      margin-top: 3rem;
      width: 64px;
    }
  }

  &__link:link,
  &__link:visited {
    transition: color 0.3s;
  }

  &__link:hover,
  &__link:active {
    color: inherit;
  }
}
